/* Mobile Size CSS */

.mobileHeader {
  position: fixed;
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
}

.mobileHeader-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  cursor: pointer;
}

.mobileHeader-logo img {
  width: 2rem;
  height: auto;
}

.mobileHeader-logo-name {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 800;
}

.mobileHeader-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  font-weight: 500;
  cursor: pointer;
}

.mobileHeader-menu-links {
  width: 8rem;
  position: absolute;
  top: 35px;
  right: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #adb5bd;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.mobileHeader-menu-links li {
  width: 100%;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.5rem 0.5rem;
}

.mobileHeader-menu-links li:hover {
  background-color: #e9ecef;
  transition: 0.5s ease-in-out;
}

.mobileHeader-auth {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mobileHeader-addItem,
.mobileHeader-logout {
  width: 100%;
  display: flex;
  padding: 0.5rem 0.5rem;
}

.mobileHeader-addItem span,
.mobileHeader-logout span {
  border-radius: 0.75rem;
  padding: 0 0.25rem;
}

.mobileHeader-addItem:hover {
  background-color: #e9ecef;
  border-top-right-radius: 0.75rem;
  border-top-left-radius: 0.75rem;
  transition: 0.5s ease-in-out;
}

.mobileHeader-logout:hover {
  background-color: #e9ecef;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 0.75rem;
  transition: 0.5s ease-in-out;
}

.mobileHeader-auth img {
  width: 2rem;
  border-radius: 50%;
}

.mobileHeader-cart {
  font-size: 1.5rem;
}

.mobileHeader-cartContainer {
  position: relative;
}

.mobileHeader-cart-count {
  position: absolute;
  top: -13px;
  right: -18px;
  background: #dd0426;
  border-radius: 50%;
  color: #fff;
  line-height: 25px;
  margin-right: 5px;
  text-align: center;
  width: 25px;
}

/* Computer Size CSS */

.computerHeader {
  position: fixed;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  gap: 1rem;
}

.computerHeader-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  cursor: pointer;
}

.computerHeader-logo img {
  width: 3rem;
  height: auto;
}

.computerHeader-logo-name {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 800;
}

.computerHeader-menu,
.computerHeader-menu-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.75rem;
  font-weight: 500;
  cursor: pointer;
}

.computerHeader-menu-links ul {
  display: none;
}

.computerHeader-auth img {
  width: 3rem;
  border-radius: 50%;
}

.computerHeader-cart {
  font-size: 1.5rem;
}

.computerHeader-cartContainer {
  position: relative;
}

.computerHeader-cart-count {
  position: absolute;
  top: -13px;
  right: -18px;
  background: #dd0426;
  border-radius: 50%;
  color: #fff;
  line-height: 25px;
  margin-right: 5px;
  text-align: center;
  width: 25px;
}

.computerHeader-auth {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.computerHeader-loginContainer {
  width: 8rem;
  position: absolute;
  top: 50px;
  right: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #adb5bd;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.computerHeader-addItem,
.computerHeader-logout {
  width: 100%;
  display: flex;
  padding: 0.5rem 0.5rem;
}

.computerHeader-addItem span,
.computerHeader-logout span {
  border-radius: 0.75rem;
  padding: 0 0.25rem;
}

.computerHeader-addItem:hover {
  background-color: #e9ecef;
  border-top-right-radius: 0.75rem;
  border-top-left-radius: 0.75rem;
  transition: 0.5s ease-in-out;
}

.computerHeader-logout:hover {
  background-color: #e9ecef;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 0.75rem;
  transition: 0.5s ease-in-out;
}
