.home {
  margin: 5rem auto;
  width: 90%;
  min-height: 86vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.75rem;
  background: linear-gradient(rgba(15, 23, 43, 0.9), rgba(15, 23, 43, 0.9))
      center / cover no-repeat,
    url(../../public//images//bg-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.homeContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.homeContent-deliveryImg {
  width: 10rem;
  background-color: #fea116;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 2rem;
  padding: 0.25rem;
  margin-top: 2rem;
  margin-left: 15%;
}

.homeContent-deliveryImg img {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #fff;
}

.homeContent-deliveryImg p {
  font-size: 0.75rem;
  color: #fff;
  text-transform: uppercase;
}

.homeContent-title {
  margin: 0 auto;
  width: 70%;
  font-size: calc(1.525rem + 3.3vw);
  font-weight: 500;
  color: #fff;
}

.homeContent-desc {
  margin: 0 auto;
  width: 70%;
  color: #fff;
}

.homeContent-btn {
  width: 100%;
  margin-right: 8rem;
  margin-left: 15%;
  margin-bottom: 1rem;
}

.homeContent-btn button {
  width: 60%;
  padding: 0.75rem 1rem;
  background-color: #fea116;
  color: #fff;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.homeImgContainer {
  width: 80%;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeImgContainer img {
  max-width: 65%;
  animation: imgRotate 50s linear infinite;
}
@keyframes imgRotate {
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 768px) {
  .home {
    flex-direction: row;
  }
  .homeContent {
    width: 100%;
    justify-content: space-around;
    align-items: normal;
    margin-left: 2rem;
    gap: 1rem;
  }
  .homeContent-title {
    margin: 0;
    width: 100%;
    font-weight: 800;
  }
  .homeContent-deliveryImg {
    margin-left: 0;
  }
  .homeImgContainer {
    width: 100%;
  }
  .homeImgContainer img {
    max-width: 85%;
  }
  .homeContent-btn {
    margin: 1rem auto;
  }
  .homeContent-btn button {
    width: 12rem;
    padding: 1rem 2rem;
    border-radius: 0.25rem;
    font-weight: 900;
  }
  .homeContent-desc {
    margin: 0;
    width: 80%;
  }
}
